/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-image: url("Slide1/EMPTYBG.svg");
  background-repeat: no-repeat;
  background-size: auto;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* NAVIGATION */
[type=checkbox]:checked,
[type=checkbox]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.menu-icon:checked + label,
.menu-icon:not(:checked) + label {
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}

.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, right 100ms 1750ms ease, margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked + label:before {
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked + label:after {
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav {
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  background-color: #353746;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 1100ms ease, width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1), height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes border-transform {
  0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease, width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1), height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}

.nav ul li {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}

.nav ul li:nth-child(1) {
  transition-delay: 200ms;
}

.nav ul li:nth-child(2) {
  transition-delay: 150ms;
}

.nav ul li:nth-child(3) {
  transition-delay: 100ms;
}

.nav ul li:nth-child(4) {
  transition-delay: 50ms;
}

.nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}

.nav ul li a:hover {
  text-decoration: none;
  color: #ffeba7;
}

.nav ul li a:after {
  display: block;
  position: absolute;
  top: 50%;
  content: "";
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: #353746;
  opacity: 0.8;
  transition: width 250ms linear;
}

.nav ul li a:hover:after {
  width: 100%;
}

.menu-icon:checked ~ .nav ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease, transform 250ms ease;
}

.menu-icon:checked ~ .nav ul li:nth-child(1) {
  transition-delay: 1400ms;
}

.menu-icon:checked ~ .nav ul li:nth-child(2) {
  transition-delay: 1480ms;
}

.menu-icon:checked ~ .nav ul li:nth-child(3) {
  transition-delay: 1560ms;
}

.menu-icon:checked ~ .nav ul li:nth-child(4) {
  transition-delay: 1640ms;
}

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  :root {
    /* remove this whole :root and put in your global css file that's shared on all pages, then just remove this section from all other Stitches you add later, only need this once in your global stylesheet */
    --primary: #ADADC3;
    --primaryLight: #70707A;
    --secondary: #007CFB;
    --secondaryLight: #70707A;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4E4B66;
    --bodyTextColorWhite: #FAFBFC;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  }
  #hero-358 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: "Roboto", "Arial", sans-serif;
    /* Centers button */
    text-align: center;
    /* 150px - 350px */
    padding: clamp(9rem, 25.95vw, 21.875rem) 1rem;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
    /* prevents overflow from the lines extending past the screen width */
    overflow: hidden;
  }
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1em);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1em);
    }
    100% {
      transform: translateY(0);
    }
  }
  #hero-358 .cs-background {
    /* Background Image */
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-358 .cs-background:before {
    /* White Color Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.85;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }
  #hero-358 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes image act like a background-image */
    object-fit: cover;
    /* places the top of the image at the top of the parent */
    object-position: top;
  }
  #hero-358 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 48px - 64px */
    gap: clamp(3rem, 7vw, 4rem);
  }
  #hero-358 .cs-flex-group {
    max-width: 39.125rem;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  #hero-358 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--secondary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #hero-358 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    width: 100%;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
  }
  #hero-358 .cs-accent {
    color: var(--primaryLight);
  }
  #hero-358 .cs-text {
    font-size: 1.25rem;
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    /* changes to 442px at desktop */
    max-width: 43.75rem;
    /* 32px - 40px */
    margin: 0 auto clamp(2rem, 4vw, 2.5rem);
    /* 24px - 40px */
    margin-bottom: clamp(1.75rem, 4vw, 2.5rem);
    color: white;
  }
  #hero-358 .cs-button-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  #hero-358 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    width: 11.25rem;
    text-decoration: none;
    font-weight: 700;
    border-radius: 0.5rem;
    /* clips corners of the before element */
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0;
    background-color: var(--secondary);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #hero-358 .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-358 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-358 .cs-button-transparent {
    text-decoration: none;
    width: auto;
    /* 46px - 56px */
    height: clamp(2.875rem, 5.5vw, 3.5rem);
    margin: 0;
    padding: 0;
    color: var(--primaryLight);
    background-color: transparent;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #hero-358 .cs-button-transparent:before {
    /* white hover box */
    content: "";
    /* 46px - 56px */
    width: clamp(2.875em, 5.5vw, 3.5em);
    background: #fff;
    border-radius: 2.5rem;
    opacity: 1;
    position: absolute;
    display: block;
    top: -6px;
    bottom: -6px;
    left: 6px;
    z-index: -1;
    transition: width 0.3s, box-shadow 0.3s;
  }
  #hero-358 .cs-button-transparent:hover:before {
    width: 107%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  #hero-358 .cs-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  #hero-358 .cs-tag {
    font-size: 0.875rem;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 0.25rem;
    color: #767676;
  }
  #hero-358 .cs-number {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.25rem;
    color: var(--headerColor);
  }
  #hero-358 .cs-picture {
    /* 46px - 56px */
    width: clamp(2.875rem, 5.5vw, 3.5rem);
    height: clamp(2.875rem, 5.5vw, 3.5rem);
    margin-right: 0.5rem;
    background-color: var(--primaryLight);
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero-358 .cs-img {
    width: 1.5rem;
    height: auto;
  }
  #hero-358 .cs-image-group {
    font-size: min(1.6vw, 0.7em);
    /* using ems so we can scale this container with a font size */
    width: 51.9375em;
    height: 42.125em;
    position: relative;
  }
  #hero-358 .cs-splash {
    position: absolute;
    width: 49.4375em;
    height: 38.5em;
    top: 1.25em;
    right: -2.5em;
  }
  #hero-358 .cs-person {
    height: 100%;
    position: relative;
  }
  #hoodie.cs-person {
    position: absolute;
    height: 65%;
    width: 65%;
    right: 20%;
    top: -10%;
  }
  #hero-358 .cs-person img {
    width: 150%;
    height: auto;
  }
  #hero-358 .cs-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.5em;
    height: 19.5em;
    position: absolute;
    left: 8.125em;
    bottom: 3.8125em;
    z-index: 100;
    animation-name: floatAnimation2;
    animation-duration: 4s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #hero-358 .cs-icon {
    width: 15em;
    height: auto;
  }
  #hero-358 {
    padding-top: 5rem;
  }
  .cs-person.create-text {
    animation: 3s ease 1s 1 normal backwards running fadeIn;
    position: absolute;
    width: 100%;
    top: 0%;
    left: -30%;
  }
  .cs-person.your-text {
    animation: 3s ease 2s 1 normal backwards running fadeIn;
    position: absolute;
    width: 50%;
    top: -30%;
    left: -30%;
  }
  .cs-person.future-text {
    animation: 3s ease 3s 1 normal backwards running fadeIn;
    position: absolute;
    width: 67.5%;
    left: -10%;
    top: -15%;
  }
  .cs-person.subtext-text {
    animation: 3s ease 4s 1 normal backwards running fadeIn;
    position: absolute;
    width: 100%;
    left: -20%;
  }
}
/* Mobile - 280px */
@media only screen and (min-width: 15rem) {
  body {
    background-image: url("Slide1/EMPTYBG.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #hero-358 .cs-person {
    height: 100%;
    position: relative;
  }
  #hoodie.cs-person {
    position: absolute;
    height: 65%;
    width: 65%;
    right: 25%;
    top: -10%;
  }
  #hero-358 .cs-person img {
    width: 150%;
    height: auto;
  }
  #hero-358 .cs-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.5em;
    height: 19.5em;
    position: absolute;
    left: 8.125em;
    bottom: 3.8125em;
    z-index: 100;
    animation-name: floatAnimation2;
    animation-duration: 4s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #hero-358 .cs-icon {
    width: 15em;
    height: auto;
  }
  #hero-358 {
    padding-top: 7.5rem;
  }
  .cs-person.create-text {
    animation: 3s ease 1s 1 normal backwards running fadeIn;
    position: absolute;
    width: 80%;
    top: -13%;
    left: -20%;
  }
  .cs-person.your-text {
    animation: 3s ease 2s 1 normal backwards running fadeIn;
    position: absolute;
    width: 50%;
    top: -30%;
    left: -35%;
  }
  .cs-person.future-text {
    animation: 3s ease 3s 1 normal backwards running fadeIn;
    position: absolute;
    width: 67.5%;
    left: -25%;
    top: -15%;
  }
  .cs-person.subtext-text {
    animation: 3s ease 4s 1 normal backwards running fadeIn;
    position: absolute;
    width: 67.5%;
    left: -17.5%;
  }
}
/* Mobile - 480px */
@media only screen and (min-width: 25rem) {
  body {
    background-color: black;
  }
  #hero-358 .cs-person {
    height: 100%;
    position: relative;
  }
  #hoodie.cs-person {
    position: absolute;
    height: 30%;
    width: 30%;
    right: 20%;
    top: -10%;
    animation-name: floatAnimation2;
    animation-duration: 4s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #pants.cs-person {
    position: absolute;
    height: 15%;
    width: 15%;
    right: 100%;
    top: 25%;
    animation-name: floatAnimation2;
    animation-duration: 10s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #shorts.cs-person {
    position: absolute;
    height: 20%;
    width: 20%;
    right: 65%;
    top: 50%;
    animation-name: floatAnimation2;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #sweatshirt.cs-person {
    position: absolute;
    height: 30%;
    width: 30%;
    right: 65%;
    top: -10%;
    animation-name: floatAnimation2;
    animation-duration: 9s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #sweatshirt_back.cs-person {
    position: absolute;
    height: 30%;
    width: 30%;
    right: 20%;
    top: 40%;
    animation-name: floatAnimation2;
    animation-duration: 7s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #hero-358 .cs-person img {
    width: 150%;
    height: auto;
  }
  #hero-358 .cs-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.5em;
    height: 19.5em;
    position: absolute;
    left: 8.125em;
    bottom: 3.8125em;
    z-index: 100;
    animation-name: floatAnimation2;
    animation-duration: 4s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #hero-358 .cs-icon {
    width: 15em;
    height: auto;
  }
  #hero-358 {
    padding-top: 7.5rem;
  }
  .cs-person.create-text {
    animation: 3s ease 1s 1 normal backwards running fadeIn;
    position: absolute;
    width: 75%;
    top: -15%;
    left: -17.5%;
  }
  .cs-person.your-text {
    animation: 3s ease 2s 1 normal backwards running fadeIn;
    position: absolute;
    width: 50%;
    top: -30%;
    left: -30%;
  }
  .cs-person.future-text {
    animation: 3s ease 3s 1 normal backwards running fadeIn;
    position: absolute;
    width: 67.5%;
    left: -20%;
    top: -15%;
  }
  .cs-person.subtext-text {
    animation: 3s ease 4s 1 normal backwards running fadeIn;
    position: absolute;
    width: 67.5%;
    left: -15%;
  }
  .cs-person.subsubtext-text {
    animation: 3s ease 4.3s 1 normal backwards running fadeIn;
    position: absolute;
    width: 33.75%;
    left: -15%;
  }
}
/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  body {
    background-color: black;
  }
  #hero-358 {
    padding-bottom: 25rem;
    padding-top: 0;
  }
  #hero-358 .cs-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  #hero-358 .cs-flex-group {
    justify-content: flex-start;
    margin: 0;
  }
  #hero-358 .cs-topper,
  #hero-358 .cs-title,
  #hero-358 .cs-text {
    text-align: left;
    margin-left: 0;
  }
  #hero-358 .cs-text {
    max-width: 27.625rem;
  }
  #hero-358 .cs-button-group {
    justify-content: flex-start;
  }
  #hero-358 .cs-image-group {
    font-size: min(1.4vw, 1em);
    position: absolute;
    bottom: -9.375em;
    right: -13.5625em;
  }
  #hoodie.cs-person {
    position: absolute;
    height: 30%;
    width: 30%;
    right: 20%;
    top: -40%;
    animation-name: floatAnimation2;
    animation-duration: 4s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #pants.cs-person {
    position: absolute;
    height: 15%;
    width: 15%;
    right: 100%;
    top: 0%;
    animation-name: floatAnimation2;
    animation-duration: 10s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #shorts.cs-person {
    position: absolute;
    height: 20%;
    width: 20%;
    right: 65%;
    top: 20%;
    animation-name: floatAnimation2;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #sweatshirt.cs-person {
    position: absolute;
    height: 30%;
    width: 30%;
    right: 57.5%;
    top: -40%;
    animation-name: floatAnimation2;
    animation-duration: 9s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #sweatshirt_back.cs-person {
    position: absolute;
    height: 30%;
    width: 30%;
    right: 20%;
    top: 40%;
    animation-name: floatAnimation2;
    animation-duration: 7s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #hero-358 .cs-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.25em;
    height: 12.25em;
    position: absolute;
    left: 8.125em;
    bottom: 11.8125em;
    z-index: 100;
    animation-name: floatAnimation2;
    animation-duration: 4s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #hero-358 .cs-icon {
    width: 30em;
    height: auto;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .cs-person.create-text {
    animation: 3s ease 1s 1 normal backwards running fadeIn;
    position: absolute;
    width: 75%;
  }
  .cs-person.your-text {
    animation: 3s ease 2s 1 normal backwards running fadeIn;
    position: absolute;
    width: 50%;
    top: -50%;
    left: 15%;
  }
  .cs-person.future-text {
    animation: 3s ease 3s 1 normal backwards running fadeIn;
    position: absolute;
    width: 67.5%;
    left: 30%;
  }
  .cs-person.subtext-text {
    animation: 3s ease 4s 1 normal backwards running fadeIn;
    position: absolute;
    width: 100%;
    left: 0%;
  }
  .cs-person.subsubtext-text {
    animation: 3s ease 4.3s 1 normal backwards running fadeIn;
    position: absolute;
    width: 50%;
    left: 0%;
  }
}
/* Desktop - 1600px */
@media only screen and (min-width: 100rem) {
  #hero-358 {
    padding: 5rem;
  }
  #hero-358 .cs-image-group {
    font-size: min(1.2vw, 1em);
    position: absolute;
    bottom: -9.375em;
    right: -13.5625em;
  }
  .cs-person.create-text {
    animation: 3s ease 1s 1 normal backwards running fadeIn;
    position: absolute;
    width: 100%;
    left: -20%;
  }
  .cs-person.your-text {
    animation: 3s ease 2s 1 normal backwards running fadeIn;
    position: absolute;
    width: 50%;
    top: 10%;
    left: -5%;
  }
  .cs-person.future-text {
    animation: 3s ease 3s 1 normal backwards running fadeIn;
    position: absolute;
    width: 67.5%;
    left: 10%;
  }
  .cs-person.subtext-text {
    animation: 3s ease 4s 1 normal backwards running fadeIn;
    position: absolute;
    width: 100%;
    left: -20%;
  }
  .cs-person.subsubtext-text {
    animation: 3s ease 4.3s 1 normal backwards running fadeIn;
    position: absolute;
    width: 50%;
    left: -20%;
  }
  /* Desktop - 1900px */
  /* Desktop - 2200px */
  /* Desktop - 2500px */
}
@media only screen and (min-width: 100rem) and (min-width: 118.75rem) {
  #hero-358 .cs-image-group {
    font-size: min(1vw, 1em);
    position: absolute;
    bottom: -9.375em;
    right: -13.5625em;
  }
  #hero-358 {
    padding-top: 0rem;
  }
  .cs-flex-group {
    top: -100%;
    padding: 0;
  }
  .cs-person.create-text {
    animation: 3s ease 1s 1 normal backwards running fadeIn;
    position: absolute;
    width: 100%;
    left: -35%;
  }
  .cs-person.your-text {
    animation: 3s ease 2s 1 normal backwards running fadeIn;
    position: absolute;
    width: 50%;
    top: 10%;
    left: -15%;
  }
  .cs-person.future-text {
    animation: 3s ease 3s 1 normal backwards running fadeIn;
    position: absolute;
    width: 67.5%;
  }
  .cs-person.subtext-text {
    animation: 3s ease 4s 1 normal backwards running fadeIn;
    position: absolute;
    width: 100%;
    left: -35%;
  }
}
@media only screen and (min-width: 100rem) and (min-width: 137.5rem) {
  #hero-358 .cs-image-group {
    font-size: min(0.8vw, 1em);
    position: absolute;
    bottom: -9.375em;
    right: -13.5625em;
  }
  #hero-358 {
    padding-top: 20rem;
  }
}
@media only screen and (min-width: 100rem) and (min-width: 156.25rem) {
  #hero-358 .cs-image-group {
    font-size: min(0.7vw, 1em);
    position: absolute;
    bottom: -9.375em;
    right: -13.5625em;
  }
}
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1278 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: "Roboto", "Arial", sans-serif;
    padding: 5rem;
    overflow: visible;
    position: relative;
    z-index: 1;
  }
  #sbs-1278 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 53.125rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    overflow: visible;
    /* 48px - 108px */
    gap: clamp(3rem, 5vw, 6.75rem);
  }
  #sbs-1278 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1278 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #sbs-1278 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #sbs-1278 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: white;
  }
  #sbs-1278 .cs-title {
    max-width: 20ch;
  }
  #sbs-1278 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    margin-bottom: 1rem;
  }
  #sbs-1278 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1278 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    border: none;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    overflow: hidden;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }
  #sbs-1278 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-1278 .cs-button-solid:hover {
    color: #fff;
  }
  #sbs-1278 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1278 .cs-picture {
    width: 100%;
    /* 456px - 598px */
    height: clamp(28.5rem, 46vw, 37.375rem);
    border-radius: 1.25rem;
    overflow: visible;
    display: block;
    /* sends it to the bottom in the 2nd position */
    order: 2;
    position: relative;
    z-index: 1;
  }
  #sbs-1278 .cs-picture:before {
    /* black overlay */
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #sbs-1278 .cs-picture img {
    width: 125%;
    height: 125%;
    object-fit: cover;
    position: relative;
    overflow: visible;
    bottom: 0;
    left: -18.725%;
  }
  #sbs-1278 .cs-background {
    width: 100%;
    height: 50%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  #sbs-1278 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-1278 .cs-flex {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1278 .cs-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
  }
  #sbs-1278 .cs-flex {
    width: 45%;
  }
  #sbs-1278 .cs-title {
    margin: 0;
  }
  #sbs-1278 .cs-text {
    width: 50%;
  }
  #sbs-1278 .cs-button-solid {
    margin-right: auto;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1278 {
    /* moved padding back to the section container */
    padding-left: 0rem;
    padding-right: 0rem;
  }
  #sbs-1278 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
  }
  #sbs-1278 .cs-picture img {
    width: 175%;
    height: 175%;
    object-fit: cover;
    position: relative;
    overflow: visible;
    bottom: 33%;
    left: -70%;
  }
  #sbs-1278 .cs-content {
    width: 100%;
    /* max-width: 27.0625rem; */
    margin: 0;
    flex-direction: column;
    order: 2;
    row-gap: 0;
  }
  #sbs-1278 .cs-flex {
    width: 100%;
  }
  #sbs-1278 .cs-title {
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    font-size: 5.5rem;
  }
  #sbs-1278 .cs-text {
    width: 100%;
    text-align: right;
    font-size: 1.5rem;
  }
  #sbs-1278 .cs-picture {
    max-width: 60rem;
    order: 1;
    overflow: visible;
  }
  #sbs-1278 .cs-background {
    width: 60vw;
    height: 100%;
    /* 172px - 336px */
    margin-right: clamp(11.125rem, 30vw, 21rem);
    left: auto;
    right: 50%;
    top: 0;
  }
}
/*<!-- ============================================ -->
<!--        Brand Creation For Influencers        -->
<!-- ============================================ -->*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-892 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: "Roboto", "Arial", sans-serif;
    /* Centers Button */
    text-align: center;
    padding: var(--sectionPadding);
    /* prevents the arrow from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #why-choose-892 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #why-choose-892 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #why-choose-892 .cs-flex-group {
    max-width: 39.125rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  #why-choose-892 .cs-person {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #why-choose-892 .cs-person img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #why-choose-892 .cs-flex-group.cs-person.BCI-text {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #why-choose-892 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #why-choose-892 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #why-choose-892 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: white;
  }
  #why-choose-892 .cs-text {
    max-width: 62.5rem;
  }
  #why-choose-892 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #why-choose-892 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #why-choose-892 .cs-button-solid:hover:before {
    width: 100%;
  }
  #why-choose-892 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #why-choose-892 .cs-item {
    width: 100%;
    text-align: left;
    list-style: none;
    /* 20px - 32px */
    padding: clamp(1.25rem, 2.3vw, 2rem);
    background-color: #9999BD;
    border-radius: 1rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column: span 6;
    position: relative;
    z-index: 1;
  }
  #why-choose-892 .cs-icon {
    width: 5rem;
    height: auto;
    margin: 0 0 1.25rem 0;
    display: block;
  }
  #why-choose-892 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.5em;
    margin: 0 0 0.75rem 0;
    color: #fff;
    transition: color 0.3s;
  }
  #why-choose-892 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: white;
    transition: color 0.3s;
  }
  #why-choose-892 .cs-floater {
    width: 21.9375rem;
    height: auto;
    display: none;
    position: absolute;
    top: -13.75rem;
    right: -3.75rem;
    transform: rotate(-66deg);
  }
  #why-choose-892 .cs-image-group {
    font-size: min(1.6vw, 0.7em);
    /* using ems so we can scale this container with a font size */
    width: 51.9375em;
    height: 42.125em;
    position: aboslute;
    left: -50%;
  }
  #why-choose-892 .cs-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.5em;
    height: 19.5em;
    position: absolute;
    left: 15%;
    z-index: 0;
    animation-name: floatAnimation2, scale-up-center, slide-top;
    animation-duration: 10s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #why-choose-892 .cs-icon-wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.5em;
    height: 19.5em;
    position: absolute;
    left: 45%;
    z-index: 0;
    animation-name: floatAnimation2, scale-up-center, slide-top;
    animation-duration: 18s;
    animation-delay: 0.75s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #why-choose-892 .cs-icon-wrapper3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.5em;
    height: 19.5em;
    position: absolute;
    left: 65%;
    z-index: 0;
    animation-name: floatAnimation2, scale-up-center, slide-top;
    animation-duration: 6s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #why-choose-892 .cs-icon-wrapper4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.5em;
    height: 19.5em;
    position: absolute;
    left: 25%;
    z-index: 0;
    animation-name: floatAnimation2, scale-up-center, slide-top;
    animation-duration: 3s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #why-choose-892 .cs-icon-wrapper5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.5em;
    height: 19.5em;
    position: absolute;
    left: 35%;
    z-index: 0;
    animation-name: floatAnimation2, scale-up-center, slide-top;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #why-choose-892 .cs-icon-wrapper6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.5em;
    height: 19.5em;
    position: absolute;
    left: 10%;
    z-index: 0;
    animation-name: floatAnimation2, scale-up-center, slide-top;
    animation-duration: 4s;
    animation-delay: 0.1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #why-choose-892 .cs-icon-wrapper7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.5em;
    height: 19.5em;
    position: absolute;
    left: 85%;
    z-index: 0;
    animation-name: floatAnimation2, scale-up-center, slide-top;
    animation-duration: 9s;
    animation-delay: 0.1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  #why-choose-892 #floating {
    position: absolute;
    max-height: 5rem;
    top: 100%;
    left: -10%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-892 .cs-container {
    max-width: 80rem;
    position: relative;
  }
  #why-choose-892 .cs-item {
    grid-column: span 2;
  }
  #why-choose-892 .cs-floater {
    display: block;
  }
  #why-choose-892 .cs-image-group {
    font-size: min(1.6vw, 0.7em);
    /* using ems so we can scale this container with a font size */
    width: 51.9375em;
    height: 42.125em;
    position: aboslute;
    left: -50%;
  }
  #why-choose-892 .cs-person img {
    width: 150%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #why-choose-892 #floating {
    position: absolute;
    max-height: 5rem;
    top: 100%;
    left: 20%;
  }
}
/*<!-- ============================================ -->
<!--             Logistics/Sourcing               -->
<!-- ============================================ -->*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-682 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: "Roboto", "Arial", sans-serif;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  #why-choose-682 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
  }
  #why-choose-682 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #why-choose-682 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #why-choose-682 .cs-topper img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #why-choose-682 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #why-choose-682 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: white;
  }
  #why-choose-682 .cs-color {
    color: var(--primary);
  }
  #why-choose-682 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    margin-bottom: 1rem;
  }
  #why-choose-682 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #why-choose-682 .cs-ul {
    width: 100%;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  #why-choose-682 .cs-li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #why-choose-682 .cs-h3 {
    font-size: 2rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #why-choose-682 .cs-icon {
    width: 1.0625rem;
    height: auto;
    margin-top: 0.25rem;
  }
  #why-choose-682 .cs-item-text {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: white;
  }
  #why-choose-682 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #why-choose-682 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #why-choose-682 .cs-button-solid:hover:before {
    width: 100%;
  }
  #why-choose-682 .cs-image-group {
    /* everything inside the image group is in ems so the font size will scale them down.  Font size minimum is tied to view width size, and grows until it reaches 75% of the value on em */
    font-size: min(2.3vw, 0.75em);
    width: 39.5em;
    height: 51.25em;
    position: relative;
    z-index: 1;
    /* flips it horizontally */
    transform: scaleX(-1);
  }
  #why-choose-682 .cs-picture {
    width: 19.125em;
    height: 22.5em;
    overflow: visible;
    display: block;
    position: absolute;
  }
  #why-choose-682 .cs-picture img {
    width: 150%;
    height: 150%;
    position: absolute;
    top: 0;
    left: 0;
    /* so the images are the original orientation, undoing the flip the cs-image-group is doing */
    transform: scaleX(-1);
  }
  /* CYCLE GRAPHIC */
  #why-choose-682 .cs-picture1 {
    width: 100%;
    position: absolute;
    top: 5rem;
    right: 7.75rem;
  }
  #why-choose-682 .cs-picture2 {
    width: 40%;
    position: absolute;
    top: -2rem;
    right: 3rem;
    z-index: 10;
    opacity: .3;
  }
  #why-choose-682 .cs-picture2:hover {
    width: 40%;
    position: absolute;
    top: -2rem;
    right: 3rem;
    z-index: 10;
    opacity: 1;
  }
  #why-choose-682 .cs-picture3 {
    width: 40%;
    position: absolute;
    top: 11.75rem;
    right: 3rem;
    z-index: 10;
    opacity: .3;
  }
  #why-choose-682 .cs-picture3:hover {
    width: 40%;
    position: absolute;
    top: 11.75rem;
    right: 3rem;
    z-index: 10;
    opacity: 1;
  }
  #why-choose-682 .cs-picture4 {
    width: 40%;
    position: absolute;
    top: 11.15rem;
    right: 19.55rem;
    z-index: 10;
    opacity: .3;
  }
  #why-choose-682 .cs-picture4:hover {
    width: 40%;
    position: absolute;
    top: 11.15rem;
    right: 19.55rem;
    z-index: 10;
    opacity: 1;
  }
  #why-choose-682 .cs-graphic {
    display: none;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #why-choose-682 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #why-choose-682 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
    /* sends it to the right in the 2nd position */
    order: 2;
    top: 20%;
    right: -5rem;
  }
  #why-choose-682 .cs-picture1 {
    width: 100%;
    position: absolute;
    top: 5rem;
    right: 7.75rem;
  }
  #why-choose-682 .cs-picture2 {
    width: 50%;
    position: absolute;
    top: -8rem;
    right: -3rem;
    z-index: 10;
    opacity: .3;
  }
  #why-choose-682 .cs-picture2:hover {
    width: 50%;
    position: absolute;
    top: -8rem;
    right: -3rem;
    z-index: 10;
    opacity: 1;
  }
  #why-choose-682 .cs-picture3 {
    width: 50%;
    position: absolute;
    top: 16rem;
    right: -3rem;
    z-index: 10;
    opacity: .3;
  }
  #why-choose-682 .cs-picture3:hover {
    width: 50%;
    position: absolute;
    top: 16rem;
    right: -3rem;
    z-index: 10;
    opacity: 1;
  }
  #why-choose-682 .cs-picture4 {
    width: 50%;
    position: absolute;
    top: 14.85rem;
    right: 25.55rem;
    z-index: 10;
    opacity: .3;
  }
  #why-choose-682 .cs-picture4:hover {
    width: 50%;
    position: absolute;
    top: 14.85rem;
    right: 25.55rem;
    z-index: 10;
    opacity: 1;
  }
  #why-choose-682 .cs-content.cs-topper img {
    width: 200%;
    height: auto;
  }
  #why-choose-682 .cs-graphic {
    width: 61.4375em;
    height: auto;
    display: block;
    position: absolute;
    bottom: 10.3125em;
    right: -2em;
    z-index: -1;
  }
  #why-choose-682 span {
    max-width: 50rem;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-404 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
  }
  #gallery-404 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #gallery-404 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #gallery-404 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: white;
    margin-bottom: 0.25rem;
    display: block;
  }
  #gallery-404 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: white;
    position: relative;
  }
  #gallery-404 .cs-title {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    max-width: 20ch;
  }
  #gallery-404 .cs-button-group {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 2rem;
  }
  #gallery-404 .cs-button {
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
    background-color: transparent;
    border: none;
    transition: color .3s;
  }
  #gallery-404 .cs-button:hover {
    color: white;
    cursor: pointer;
  }
  #gallery-404 .cs-button.cs-active {
    color: white;
  }
  #gallery-404 .cs-gallery {
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 1;
    visibility: visible;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
    transition: transform .7s, opacity .3s, visibility .5s, top .3s, left .3s;
    /* makes the transform scaling origin the top left corner, dictates the direction by which the scale transforms animate towards */
    transform-origin: left top;
  }
  #gallery-404 .cs-gallery.cs-hidden {
    /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
    visibility: hidden;
    /* prevents the mouse from interacting with it */
    pointer-events: none;
    /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
    opacity: 0;
    /* this top and left value help control the animation, by setting it to position absolute and left 0, the gallery won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-container (left: 0). Same for the bottom:0 value, the gallery won't go past that position when it animates */
    bottom: 0;
    left: 0;
    position: absolute;
    /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
    transform: scaleY(0) scaleX(0);
  }
  #gallery-404 .cs-gallery.cs-hidden .cs-image {
    /* when gallery is hidden, add these styles to the cs-image to animate from when cs-hidden is removed from the .cs-gallery */
    transform: translateY(2.1875rem);
    opacity: 0;
  }
  #gallery-404 .cs-image {
    border-radius: 1.25rem;
    width: 47%;
    aspect-ratio: 1;
    /* clips the image corners */
    overflow: hidden;
    display: block;
    position: relative;
    /* when .cs-hidden is removed from the .cs-gallery, reset these values and animate between their hidden styles */
    transform: translateY(0rem);
    opacity: 1;
    transition: opacity .6s, transform .6s;
  }
  #gallery-404 .cs-image:nth-of-type(1) {
    /* changes transition delays at desktop */
    /* these delays stagger the reveal of each image so they all go one after the other and not all at once */
    transition-delay: .15s;
  }
  #gallery-404 .cs-image:nth-of-type(2) {
    transition-delay: .3s;
  }
  #gallery-404 .cs-image:nth-of-type(3) {
    transition-delay: .45s;
  }
  #gallery-404 .cs-image:nth-of-type(4) {
    transition-delay: .6s;
  }
  #gallery-404 .cs-image:nth-of-type(5) {
    transition-delay: .75s;
  }
  #gallery-404 .cs-image:nth-of-type(6) {
    transition-delay: .9s;
  }
  #gallery-404 .cs-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes it act like a background image */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-404 .cs-container {
    max-width: 80rem;
  }
  #gallery-404 .cs-content {
    text-align: left;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  #gallery-404 .cs-title {
    margin: 0;
  }
  #gallery-404 .cs-image {
    width: 31.8%;
    aspect-ratio: 1;
  }
}
/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #gallery-404 .cs-flex {
    max-width: 34.375rem;
  }
  #gallery-404 .cs-gallery {
    align-items: stretch;
    justify-content: center;
  }
  #gallery-404 .cs-image {
    width: 39.375rem;
    max-width: 100%;
    height: 25rem;
  }
  #gallery-404 .cs-image:nth-of-type(2),
  #gallery-404 .cs-image:nth-of-type(3),
  #gallery-404 .cs-image:nth-of-type(4),
  #gallery-404 .cs-image:nth-of-type(5) {
    width: 19.0625rem;
  }
  #gallery-404 .cs-image:nth-of-type(1) {
    /* these delays stagger the reveal of each image so they all go one after the other and not all at once */
    transition-delay: .15s;
  }
  #gallery-404 .cs-image:nth-of-type(2) {
    transition-delay: .3s;
  }
  #gallery-404 .cs-image:nth-of-type(3) {
    transition-delay: .45s;
  }
  #gallery-404 .cs-image:nth-of-type(4) {
    transition-delay: .15s;
  }
  #gallery-404 .cs-image:nth-of-type(5) {
    transition-delay: .3s;
  }
  #gallery-404 .cs-image:nth-of-type(6) {
    transition-delay: .45s;
  }
}
                 

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-strip-324 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: var(--sectionPadding);
    background-color: #9999BD;
  }
  #contact-strip-324 .cs-stat-group {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 37.5rem;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
  }
  #contact-strip-324 .cs-item {
    list-style: none;
    width: 18.125rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #contact-strip-324 .cs-item:hover .cs-picture {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1.05);
  }
  #contact-strip-324 .cs-picture {
    width: 5rem;
    height: 5rem;
    /* 12px - 20px */
    margin-right: clamp(0.75rem, 3vw, 1.25rem);
    border-radius: 50%;
    border: 1px solid #BABABA;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.6s;
  }
  #contact-strip-324 .cs-flex-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  #contact-strip-324 .cs-icon {
    width: 1.75rem;
    height: auto;
  }
  #contact-strip-324 .cs-header {
    font-size: 1.25rem;
    color: var(--headerColor);
    font-weight: 900;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 0.75rem;
    display: block;
  }
  #contact-strip-324 .cs-link,
  #contact-strip-324 .cs-hours {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-decoration: none;
    color: #767676;
    display: block;
  }
  #contact-strip-324 .cs-link:hover {
    text-decoration: underline;
  }
  #contact-strip-324 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    border: none;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    overflow: hidden;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }
  #contact-strip-324 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #contact-strip-324 .cs-button-solid:hover {
    color: #fff;
  }
  #contact-strip-324 .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #contact-strip-324 .cs-stat-group {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.25rem;
    row-gap: 2rem;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-strip-324 .cs-stat-group {
    max-width: 80rem;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}
                                
                                


/* Custom CSS */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.wireframe {
  position: absolute;
  top: 10%;
  left: 10%;
}

.create-text {
  animation: 3s ease 1s 1 normal backwards running fadeIn;
  position: absolute;
  width: 50%;
  top: 10%;
  left: 5%;
}

.your-text {
  animation: 3s ease 2s 1 normal backwards running fadeIn;
  position: absolute;
  width: 25%;
  top: 27%;
  left: 3%;
}

.future-text {
  animation: 3s ease 3s 1 normal backwards running fadeIn;
  position: absolute;
  width: 32%;
  top: 27.33%;
  left: 25%;
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
  }
}
.slide-top {
  -webkit-animation: slide-top 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 500ms 15 both;
  animation: slide-top 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 500ms 15 both;
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.scale-up-center {
  -webkit-animation: scale-up-center 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2 both;
  animation: scale-up-center 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2 both;
}

/*# sourceMappingURL=styles.css.map */
